################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/pare.Common/obj
/pare.EntityFrameworkCore/obj
/pare.EntityFrameworkCore.Seed/obj
/.vs
